# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Entorno Virtual
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Base de datos y Almacenamiento local (¡MUY IMPORTANTE NO SUBIR ESTO!)
storage/
*.db
*.sqlite3

# Compilación de PyInstaller / Inno Setup
build/
dist/
installer/
*.spec
*.iss.bak

# Node.js (Si hay dependencias de frontend sueltas)
node_modules/
package-lock.json

# MacOS
.DS_Store
